<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/about.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>About Us</title>
</head>
<body>
    <header id="navbar">
        <div id="logo">
          <img src="../static/img/logo.png" alt="Moody Music">
          <h3>Moody Music</h3>
        </div>
        <ul>
          <li class="items"><a href="../templates/index.html">Home</a></li>
          <li class="items"><a href="{{ url_for('video_feed') }}">Face Came</a></li>
          <li class="items"><a href="about.html">About</a></li>
        </ul>
        <div id="signup">
          <ul>
            <li class="items"><a href="#">Sign Up</a></li>
          </ul>
        </div>
      </header>
    <main>
        <div id="hading">
            <h2>About Us</h2>
        </div>
    </main>
</body>
</html>