<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/about.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
  <title>Moody Music</title>
</head>

<body>
  <header id="navbar">
    <div id="logo">
      <img src="../static/img/logo.png" alt="Moody Music">
      <h3>Moody Music</h3>
    </div>
    <ul>
      <li class="items"><a href="../templates/index.html">Home</a></li>
      <li class="items"><a href="{{ url_for('video_feed') }}">Face Came</a></li>
      <li class="items"><a href=".about">About</a></li>
    </ul>
    <div id="signup">
      <ul>
        <li class="items"><a href="../templates/signup.html">Sign Up</a></li>
      </ul>
    </div>
  </header>

  <!-- Main section of the website -->
  <main>
    <!-- The section for creating heading and background image -->
    <section class="background">
      <div>
        <h1 class="ml2 headline">Moody Music</h1>
      </div>
      <div class="user-choice">
        <div class="user">
          <p>What's your Mood ? Tell us..!</p>
          <form action="#" method="POST">
            <div class="mood-select">
              <select name="select" id="select">
                <option value="select.." selected>select..</option>
                <option value="Happy">Happy</option>
                <option value="Sad">Sad</option>
                <option value="Angry">Angry</option>
              </select>
              <button id="submit">Go</button>
            </div>
          </form>
        </div>
      </div>
    </section>

    <!-- Section For creating Music playlist or Cards -->
    <section>
      <h1>Listen your Favourite Playlist</h1>
      <div class="cards">
        <div id="card1" class="card-dim">
          <p>Happy</p>
          <div class="play-button">
            <button><img src="https://img.icons8.com/nolan/64/play.png"/></button>
          </div>
        </div>
        <div id="card2" class="card-dim">
          <p>Sad</p>
          <div class="play-button">
            <button><img src="https://img.icons8.com/nolan/64/play.png"/></button>
          </div>
        </div>
        <div id="card3" class="card-dim">
          <p>Normal</p>
          <div class="play-button">
            <button><img src="https://img.icons8.com/nolan/64/play.png"/></button>
          </div>
        </div>
        <div id="card4" class="card-dim">
          <p>DJ song</p>
          <div class="play-button">
            <button><img src="https://img.icons8.com/nolan/64/play.png"/></button>
          </div>
        </div>
        <div id="card5" class="card-dim">
          <p>Old Retro</p>
          <div class="play-button">
            <button><img src="https://img.icons8.com/nolan/64/play.png"/></button>
          </div>
        </div>
      </div>
    </section>
    <!-- About the website section -->
    <section class="about">
      <main class="about">
        <div id="hading">
            <h2>About Us</h2>
        </div>
    </main>
    </section>
  </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
  <script src="../static/js/clint.js" type="text/javascript"></script>
</body>


<footer>

</footer>

</html>